@model IEnumerable<diploma.Models.File>
@{
    ViewData["Title"] = "Добавление файла";
}

<h3>Мои файлы</h3>
<form method="get">
    <div class="form-inline form-group">
        <input name="name" placeholder="Название файла" class="form-control" />

        <label class="control-label">  </label>
        <input name="seldate" type="date" min="2018-02-22" id="date" class="form-control" style="position: relative; left: 515px; ">

        <input type="submit" value="Фильтр" class="form-control" style="position: relative; left: 515px; " />
    </div>
</form>
<table class="table">
    <tr><th>Название</th><th> <a> Дата создания </a> </th><th> Автор </th><th> Действия </th></tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td> <h3 style="color:darkgray"> Файлы отсуствуют </h3> </td>
        </tr>
    }
    else
    {
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.Name.Substring(0, file.Name.IndexOf("_"))@file.Name.Substring(file.Name.Length - 4)</td>
                <td>@file.Date </td>
                <td>@file.Author.Login </td>
                <td>
                    <form asp-action="DeleteConfirmed" asp-route-id="@file.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditFile" asp-controller="User" asp-route-id="@file.Id"> Переименовать </a>
                        <a class="btn btn-sm btn-light" asp-action="View" asp-route-fileToView="@file.Name" target="_blank"> Предпросмотр </a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="User" method="post" enctype="multipart/form-data">
    <input type="file" class="form-control" style="width:auto" name="uploadedFile"/><br>
    <input type="submit" class="form-control" style="width: auto; position: relative; bottom: 20px;" value="Загрузить" />
</form>
